@font-face {
    font-family: 'Facundo';
    src: local('Facundo Regular'), local('Facundo-Regular'),
        url('Facundo-Regular.woff2') format('woff2'),
        url('Facundo-Regular.woff') format('woff'),
        url('Facundo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }