<section class="review" id="review">
    <div class="title font-alt">Отзывы</div>
    <div class="subtitle fade-60">Широкрий спектр услуг по перетяжке авто</div>
    <div class="slider slider--overwrap slider-review">
        <div class="swiper grid-wrap grid-spacing-3 grid-spacing-lg-10 pb-5">
            <div class="swiper-wrapper">
                <% for(let i = 0; i < 5; i++){ %>
                <div class="swiper-slide grid-col-9 grid-col-md-6 grid-col-lg-4">
                    <div class="review-item card">
                        <div class="review-item__author">
                            <div class="review-item__author-avatar">
                                <img src="img/test.jpg" alt="">
                            </div>
                            <div>
                                <div class="text-md-body-0 text--bold">Виктория П.</div>
                                <div class="fade-60 text-body-2 text-md-body-1">Клиент ателье</div>
                            </div>
                        </div>
                        <div class="review-item__rating">
                            <img src="img/star.png" alt="" class="">
                            <img src="img/star.png" alt="" class="ml-1">
                            <img src="img/star.png" alt="" class="ml-1">
                            <img src="img/star.png" alt="" class="ml-1">
                            <img src="img/star.png" alt="" class="ml-1">
                            <div class="fade-60 w-100 w-md-auto mt-2 mt-md-0 ml-md-4">21 июля</div>
                        </div>
                        <div class="review-item__description">
                            <div class="fade-60 text-body-2 text-md-body-1">
                                Нужен был новый и практичный салон. Я на своем Кубике путешествую на рыбалку. Перешил в
                                салоне тюнинга
                                вплоть до багажника, ребята посоветовали экокожу. Сделали быстро полторы недели. Сначала
                                жалел салон,
                                подстилал покрывало сзади , а потом то забыл, то поленился, стал кидать снасти уже
                                просто на кожу.
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <button class="slider-btn slider-prev btn btn-fab btn--primary btn--white-bg color-text d-none d-md-flex">
            <svg class="icon">
                <use xlink:href="img/icons.svg#to-left" />
            </svg>
        </button>
        <button class="slider-btn slider-next btn btn-fab btn--primary btn--white-bg color-text d-none d-md-flex">
            <svg class="icon">
                <use xlink:href="img/icons.svg#to-right" />
            </svg>
        </button>
    </div>
    <div class="flex mt-10">
        <button class="btn btn--primary btn--fill mx-auto">Смотреть на Яндекс Картах</button>
    </div>
</section>
<script>
    new Swiper('.slider-review .swiper', {
        slidesPerView: 'auto',
        watchSlidesProgress: true,
        navigation: {
            nextEl: '.slider-review .slider-next',
            prevEl: '.slider-review .slider-prev'
        }
    })
</script>