<%= _.template(require('./html-includes/header.html').default)() %>
	<%= _.template(require('./html-includes/page-top.html').default)() %>


	<section class="contact-page">
		<div class="contact-page-info">
			<div class="contact-page-info__title text-h4 mb-8">Свяжитесь с нами!</div>
			<div class="contact-page-info__list">
				<a href="" class="contact-page-item link-hover-wrapper">
					<div class="contact-page-item__img">
						<svg class="icon">
							<use xlink:href="img/icons.svg#address" />
						</svg>
					</div>
					<div class="contact-page-item__content">
						<div class="text-body-0 text--demibold mb-1 contact-page-item__title">Адрес</div>
						<div class="contact-page-item__value fade-80 link-hover">г. Краснодар, ул. Кропоткина, 50</div>
					</div>
				</a>
				<a href="" class="contact-page-item link-hover-wrapper">
					<div class="contact-page-item__img">
						<svg class="icon">
							<use xlink:href="img/icons.svg#phone" />
						</svg>
					</div>
					<div class="contact-page-item__content">
						<div class="text-body-0 text--demibold mb-1 contact-page-item__title">Телефон</div>
						<div class="contact-page-item__value fade-80 link-hover">8 (918) 327-6000</div>
					</div>
				</a>
				<a href="" class="contact-page-item link-hover-wrapper">
					<div class="contact-page-item__img">
						<svg class="icon">
							<use xlink:href="img/icons.svg#email" />
						</svg>
					</div>
					<div class="contact-page-item__content">
						<div class="text-body-0 text--demibold mb-1 contact-page-item__title">E-mail</div>
						<div class="contact-page-item__value fade-80 link-hover">avantibro@mail.ru</div>
					</div>
				</a>
				<a href="" class="contact-page-item link-hover-wrapper">
					<div class="contact-page-item__img">
						<svg class="icon">
							<use xlink:href="img/icons.svg#clock" />
						</svg>
					</div>
					<div class="contact-page-item__content">
						<div class="text-body-0 text--demibold mb-1 contact-page-item__title">Время работы</div>
						<div class="contact-page-item__value fade-80 link-hover">Работаем ежедневно с 9:00 до 18:00
							часов</div>
					</div>
				</a>
			</div>

			<div class="flex mt-10">
				<a href="javascript:;" class="btn btn-icon btn--blue mr-1 mr-md-3">
					<img src="img/telegram.png" alt="">
				</a>
				<a href="javascript:;" class="btn btn-icon btn--green mr-1 mr-md-3">
					<img src="img/whatsap.png" alt="">
				</a>
				<a href="javascript:;" class="btn btn-icon btn--blue mr-1 mr-md-3">
					<img src="img/vk.png" alt="">
				</a>
				<a href="javascript:;" class="btn btn-icon btn--red">
					<img src="img/instagramm.png" alt="">
				</a>
			</div>
		</div>
		<form class="contact-page-form mt-10 mt-lg-0 ml-lg-auto">
			<div class="contact-page-form__header">
				<div class="text-h4">Свяжитесь с нами!</div>
			</div>
			<div class="contact-page-form__content">
				<div class="grid">
					<div class="grid-col-md-6">
						<label class="form-field">
							<div class="text-body-1 text--demibold mb-2">Ваше имя</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="Например, Юлий..." required>
							</div>
						</label>
					</div>
					<div class="grid-col-md-6">
						<label class="form-field">
							<div class="text-body-1 text--demibold mb-2">Ваш телефон</div>
							<div class="form-input-cover">
								<input type="tel" class="form-input" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" required>
							</div>
						</label>
					</div>
					<div class="grid-col-12">
						<label class="form-field">
							<div class="text-body-1 text--demibold mb-2">Ваш вопрос</div>
							<div class="form-input-cover">
								<textarea class="form-input"></textarea>
							</div>
						</label>
					</div>
				</div>
				<div class="flex flex-align-center mt-8">
					<button class="btn btn--primary btn--fill" type="submit">Отправить</button>
					<div class="text-small ml-7 fade-60">
						Отправляя форму Вы даете согласие на обработку Ваших
						персональных данных
					</div>
				</div>
			</div>


		</form>
	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>