<%= _.template(require('./html-includes/header.html').default)() %>

  <section class="started">
    <div class="started-img">
      <div class="started-img__blick started-img__blick--1"></div>
      <div class="started-img__blick started-img__blick--2"></div>
      <img src="img/started-img-min.jpg" alt="" class="">
    </div>

    <div class="started-content">
      <div class="flex mb-7">
        <div class="started-dot bg-green"></div>
        <div class="started-dot bg-white"></div>
        <div class="started-dot bg-primary"></div>
      </div>
      <div class="started-title">
        Услуги по <span class="color-primary font-alt"> перетяжке <br>
          салона</span> автомобиля <br>
        в Краснодаре
      </div>
      <div class="started-desc">
        Автоателье по профессиональной перетяжке салона и деталей <br>
        с применением натуральных материалов с гарантией 5 лет
      </div>
      <button class="started-btn btn btn--primary btn--fill" data-fancybox-modal data-src="dialog-cost.html"
        data-type="ajax">Узнать стоимость</button>
    </div>
  </section>






  <%= _.template(require('./html-includes/qwiz.html').default)() %>



  <section class="service" id="service">
    <div class="title font-alt">Наши услуги</div>
    <div class="subtitle fade-60">Широкрий спектр услуг по перетяжке авто</div>

		<div class="grid grid-spacing-lg-7">
			<% for(let i = 0; i < 12; i++){ %>
			<div class="grid-col-lg-3 grid-col-md-4 grid-col-6">
				<a href="javascript:;" class="service-item card card-action waved h-100" data-fancybox-modal data-src="dialog-service.html" data-type="ajax">
					<div class="service-item__img progress-container">
						<div class="progress progress-circle fade-60 text-body-2"></div>
						<img src="https://picsum.photos/600/400?random=10<%= i %>" alt="" loading="lazy">
					</div>
					<div class="service-item__content">
						<div class="text-body-2 text-md-body-0 text--bold mb-3">Перетяжка салона</div>
						<div class="text-body-0 text-lg-h6 text--regular fade-60">От 5000 ₽</div>
						<div class="mt-5">
							<button class="btn btn--primary btn--link text-body-2 text-md-body-1 text--demibold">
								Заказать <span class="d-none d-md-inline"> услугу</span>
								<svg class="icon text-small-2 ml-3">
									<use xlink:href="img/icons.svg#link" />
								</svg>
							</button>
						</div>
					</div>
				</a>
			</div>
			
			<% } %>
		</div>

    <%= _.template(require('./html-includes/service-buner.html').default)() %>
  </section>


  <section class="material" id="material">
    <div class="title font-alt">Наши материалы</div>
    <div class="subtitle fade-60">У нас имеется большой выбор материалов по выгодной цене</div>
    <div class="grid grid-spacing-lg-10">
      <div class="grid-col-lg-3 grid-col-md-4 grid-col-6">
        <a href="" class="material-item card card-action d-block waved" data-fancybox-modal data-src="dialog-material.html" data-type="ajax">
          <div class="material-item__img">
            <img src="img/material-test.png" alt="">
          </div>
          <div class="material-item__content px-3">
            <div class="text-body-2 text--demibold text-md-subtitle-2 mb-5">Натуральная кожа</div>
            <button
              class="material-item__btn btn btn--primary btn--fill px-1 px-md-6 w-100 text-body-2 text-md-body-1 w-md-auto">Подробнее</button>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="protfolio" id="protfolio">
    <div class="title font-alt">Портфолио</div>
    <div class="subtitle fade-60">Оцените нашу работу. Мы вкладываем в нее всю душу!</div>
    <div class="grid grid-spacing-lg-6">
      <div class="grid-col-lg-6 grid-col-12">
        <a data-fancybox class="protfolio-item image-action waved progress-container bg-l1 h-100"
          href="https://picsum.photos/2560/1440?random=21">
          <div class="progress progress-circle fade-60 text-body-1"></div>
          <img src="https://picsum.photos/1920/1080?random=21" alt="">
        </a>
      </div>
      <div class="grid-col-lg-3 grid-col-6">
        <a data-fancybox class="protfolio-item image-action waved progress-container bg-l1 h-100"
          href="https://picsum.photos/2560/1440?random=22">
          <div class="progress progress-circle fade-60 text-body-1"></div>
          <img src="https://picsum.photos/1920/1080?random=22" alt="">
        </a>
      </div>
      <div class="grid-col-lg-3 grid-col-6">
        <a data-fancybox class="protfolio-item image-action waved progress-container bg-l1 h-100"
          href="https://picsum.photos/2560/1440?random=23">
          <div class="progress progress-circle fade-60 text-body-1"></div>
          <img src="https://picsum.photos/1920/1080?random=23" alt="">
        </a>
      </div>
      <div class="grid-col-lg-3 grid-col-12">
        <a data-fancybox class="protfolio-item image-action waved progress-container bg-l1 h-100"
          href="https://picsum.photos/2560/1440?random=24">
          <div class="progress progress-circle fade-60 text-body-1"></div>
          <img src="https://picsum.photos/1920/1080?random=24" alt="">
        </a>
      </div>
      <div class="grid-col-lg-6 grid-col-6">
        <a data-fancybox class="protfolio-item image-action waved progress-container bg-l1 h-100"
          href="https://picsum.photos/2560/1440?random=25">
          <div class="progress progress-circle fade-60 text-body-1"></div>
          <img src="https://picsum.photos/1920/1080?random=25" alt="">
        </a>
      </div>
      <div class="grid-col-lg-3 grid-col-6">
        <a data-fancybox class="protfolio-item image-action waved progress-container bg-l1 h-100"
          href="https://picsum.photos/2560/1440?random=26">
          <div class="progress progress-circle fade-60 text-body-1"></div>
          <img src="https://picsum.photos/1920/1080?random=26" alt="">
        </a>
      </div>

    </div>
  </section>


  <%= _.template(require('./html-includes/reviews-slider.html').default)() %>

  
  <section class="about" id="about">
    <div class="about__content">
      <div class="about__title">Об автоателье</div>
      <div class="about__sign">
        <img src="img/sign.svg" alt="">
      </div>
      <div class="text-body-1 fade-80 mb-6">
        Опытные мастера автоателье Avanti Bro проведут профессиональную перетяжку автомобиля в Краснодаре по
        индивидуальному дизайн-проекту, учитывая все пожелания заказчика. Благодаря широкому спектру предоставляемых
        нами услуг, Вы можете сделать свой автомобиль более презентабельным и узнаваемым.
      </div>

      <div class="text-body-1 fade-80 text--demibold mb-6">
        Данный вид тюнинга - это отличный способ выделиться из толпы и выразить свой стиль!
      </div>

      <div class="text-body-1 fade-80">
        Большинство владельцев автомобиля не считают нужным делать химчистку в салоне. На самом деле ее следует
        проводить регулярно, чтобы предотвратить негативные последствия использования транспортного средства в виде
        различных загрязнений.
      </div>
    </div>
    <div class="about__img">
      <img src="img/about-images.png" alt="">
    </div>
  </section>


  <script>
    window.addEventListener('load', () => {
      Fancybox.modal.open('dialog-success.html', { type: 'ajax' })
    })
  </script>


  <%= _.template(require('./html-includes/pray.html').default)() %>




  <%= _.template(require('./html-includes/contacts.html').default)() %>
  <%= _.template(require('./html-includes/footer.html').default)() %>